In [2]:
import pandas as pd

df = pd.read_excel("contoh_data_bermasalah.xlsx")

#Reset index dan tambahkan 1 untuk membuat index dimulai dari 1
df = df.reset_index(drop=True)
df.index = df.index + 1

#Tampilkan beberapa baris pertama DataFrame untuk memastikan data berhasil dimuat
display(df.head())

    ID          Nama  Usia        Kota  Pendapatan       Status Tanggal Daftar
1  118  Pengguna_118    51  Yogyakarta     9819256        Aktif     2023-06-26
2   29   Pengguna_29    37     Jakarta     4991886        Aktif     2023-07-20
3  119  Pengguna_119    31       Medan    19094979        Aktif     2023-05-17
4   44   Pengguna_44    54    Makassar    15843052  Tidak Aktif     2023-05-10
5  124  Pengguna_124    26     Bandung    86377074      Pending     2023-05-05

In [3]:
#Mengecek ukuran dataset (jumlah baris dan kolom)
print("Ukuran Dataset (baris, kolom) : ", df.shape)

#Mengecek jumlah total elemen dalam dataset
print("Jumlah total elemen dalam dataset : ", df.size)

Ukuran Dataset (baris, kolom) :  (160, 7)
Jumlah total elemen dalam dataset :  1120

In [4]:
#Mengecek tipe data dari sebuah variabel
my_variable = "Hello"
print("Tipe data my_variable: ", type(my_variable))

my_number = 123
print("Tipe data my_number: ", type(my_number))

#Mengecek tipe data dari setiap kolom dalam DataFrame
print("\nTipe data dari setiap kolom dalam DataFrame:")
print(df.dtypes)

Tipe data my_variable:  <class 'str'>
Tipe data my_number:  <class 'int'>

Tipe data dari setiap kolom dalam DataFrame:
ID                         int64
Nama                      object
Usia                       int64
Kota                      object
Pendapatan                 int64
Status                    object
Tanggal Daftar    datetime64[ns]
dtype: object

In [5]:
missing_values = df.isnull().sum()
print("Jumlah nilai yang hilang di setiap kolom: ")
print(missing_values)

Jumlah nilai yang hilang di setiap kolom:
ID                 0
Nama               0
Usia               0
Kota               0
Pendapatan         0
Status            16
Tanggal Daftar     0
dtype: int64

In [6]:
#Hitung jumlah baris duplikat
duplicate_rows_count = df.duplicated().sum()

#Cetak jumlah baris duplikat
print(f"Jumlah baris duplikat: {duplicate_rows_count}")

#Jika ada baris duplikat, tampilkan beberapa baris duplikat pertama
if duplicate_rows_count > 0:
    print("\nBeberapa baris duplikat pertama:")
    print(df[df.duplicated(keep=False)].head())

Jumlah baris duplikat: 10

Beberapa baris duplikat pertama:
     ID          Nama  Usia      Kota  Pendapatan       Status Tanggal Daftar
9    49   Pengguna_49    51  Semarang    18099831        Aktif     2023-11-25
34   63   Pengguna_63    20  Surabaya    12742482        Aktif     2023-05-02
41  146  Pengguna_146    45  Semarang    13493455        Aktif     2023-01-09
42    2    Pengguna_2    45   Bandung     9640118  Tidak Aktif     2023-02-10
54   89   Pengguna_89    27   Bandung    17464535        Aktif     2023-03-29

KESIMPULAN
1. Duplikat baris Data
 Data yang berulang bisa bikin bias model/statistik.
 Biasanya dihapus
2. Data yang hilang dikolom status sebanyak 16
 Kalau ada kolom dengan nilai hilang cukup banyak â†’ bisa menurunkan kualitas analisis.
 Perlu diputuskan: dihapus atau di-impute.
3. Tipe data
 Misalnya angka disimpan sebagai teks, tanggal masih berupa string.
 Ini bisa bikin analisis/statistik salah.